{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'marelloenterprise-inventory-warehousegroups-grid' %}
{% set pageTitle = 'marello.inventory.warehousegroup.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('marelloenterprise_inventory_warehousegroup_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('marelloenterprise_inventory_warehousegroup_create'),
                'entity_label': 'marello.inventory.warehousegroup.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
