{% import '@OroUI/macros.html.twig' as UI %}
{% if marello_entity_has_attribute(entity, 'image') %}
    {#
        tmp removed "| imagine_filter('product_view')" from no image available as OroAttachmentBundle did some rewriting of Liip services
        This results in the filter not working anymore and we should look at another approach for rendering the no image
        All image filters for Oro are using a file (image) as a parameter, so in this case we might consider creating a digital
        asset for the no image available and using this file for when no image is available for the product
    #}
    {% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
    {% if entity.image is not null %}
        {% set productImage = filtered_image_url(entity.image, 'product_view') %}
    {% endif %}
    <div class="widget-content">
        <div class="row-fluid">
            <div class="responsive-block">
                <div class="visual marello-product-image">
                    <img src="{{ productImage }}" alt="{{ entity.name }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}