{% import '@OroUI/macros.html.twig' as UI %}
{% if marello_entity_has_attribute(entity, 'image') %}
    {% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
    {% if entity.image is not null %}
        {% set productImage = filtered_image_url(entity.image, 'product_view') %}
    {% endif %}
    <div class="widget-content">
        <div class="row-fluid">
            <div class="responsive-block">
                <div class="visual marello-product-image">
                    <img src="{{ productImage }}" alt="{{ entity.name }}" />
                </div>
            </div>
        </div>
    </div>
{% endif %}