{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if product.prices|length > 0 %}
            <h5 class="user-fieldset">
                <span>{{ 'marello.pricing.productprice.entity_plural_label'|trans }}</span>
            </h5>
            <div class="narrow-divider"></div>
            {{ dataGrid.renderGrid('marello-productprice-grid', { productId: product.id }, { cssClass: 'inner-grid' })  }}
        {% endif %}
        {% if product.channelPrices|length > 0 %}
        <div class="row-divider"></div>
        <div class="row-fluid form-horizontal">
            <h5 class="user-fieldset">
                <span>{{ 'marello.pricing.productchannelprice.entity_plural_label'|trans }}</span>
            </h5>
            <div class="narrow-divider"></div>
            {{ dataGrid.renderGrid('marello-productchannelprice-grid', { productId: product.id }, { cssClass: 'inner-grid' })  }}
        </div>
        {% endif %}
    </div>
</div>
