<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/test.css') }}" />
    {% endblock %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/oro.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/orodistribution/css/style.css') }}"/>
    {% endblock %}
    <style type="text/css">
        .test-class-jaimy {
            font-size: 20px;
            font-color: red;
        }
    </style>
</head>

<html>
<head>
    <link rel="stylesheet" href="http://skil-marello.dev/css/test.css" media="all">
</head>
<body>
<header>
    <img src="http://www.marello.com/wp-content/themes/marello/img/favicon/apple-touch-icon-76x76.png" alt="Marello Commerce" />
    <p class="test-class-jaimy" style="font-size:20px; color: red;">hoi</p>
</header>