@name = marello_purchase_order_advise
@subject = Purchase Order advise notification
@isSystem = 0
@isEditable = 1

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #fff;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
	    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
        p {
            margin: 1em 0; }

        a {
            word-wrap: break-word; }

        table {
            border-collapse: collapse; }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: block;
            margin: 0;
            padding: 0; }

        a img,
        img {
            border: 0;
            height: auto;
            outline: none;
            text-decoration: none; }

        .wrapper,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%; }

        body {
            font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif;
            font-weight: normal;
            text-align: left;
            font-size: 12px; }

        th,
        td {
            font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; }

        a {
            color: #3d3d3d;
            text-decoration: underline; }

        p {
            font-size: 12px;
            font-weight: 300;
            color: #666666; }

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 16px;
            font-weight: 400; }


        strong,
        th {
            font-weight: 400; }

        h1 {
            font-size: 20px; }

        h2 {
            font-size: 18px; }

        h3 {
            font-size: 16px; }

        h4 {
            font-size: 12px; }

        html,
        body {
            background-color: #fff; }

        .wrapper {
            margin: 0 auto; }

        .wrapper-inner {
            padding-bottom: 16px;
            width: 100%; }

        .main {
            margin: 0 auto;
            text-align: left;
            width: 660px; }

        .header {
            padding: 16px; }

        .main-content {
            background-color: #fff;
            padding: 16px; }

        .footer {
            padding: 0 16px 16px; }

        .button > tr > td {
            padding-bottom: 8px; }

        .button .inner-wrapper td {
            background-color: #ef2614; }
        .button .inner-wrapper td a {
            border: 0;
            color: #fff;
            display: inline-block;
            padding: 16px 24px;
            text-decoration: none; }

        .message-info,
        .message-gift {
            width: 100%; }
        .message-info td,
        .message-gift td {
            background-color: #f8f8f8;
            border: 1px solid #d6d7d7;
            color: #000;
            margin: 0;
            padding: 4px; }
        .message-info td a,
        .message-gift td a {
            color: #3d3d3d; }
        .message-info td h1,
        .message-info td h2,
        .message-info td h3,
        .message-info td h4,
        .message-info td h5,
        .message-info td h6,
        .message-gift td h1,
        .message-gift td h2,
        .message-gift td h3,
        .message-gift td h4,
        .message-gift td h5,
        .message-gift td h6 {
            margin-top: 0; }

        /* Force Outlook 2007 and up to provide a "view in browser" message. */
        #outlook a {
            padding: 0; }

        /* Force IE to smoothly render resized images. */
        img {
            -ms-interpolation-mode: bicubic; }

        /* Remove spacing between tables in Outlook Desktop. */
        table {
            mso-table-lspace: 0;
            mso-table-rspace: 0; }

        /* Force Outlook.com to display emails at full width. */
        .ReadMsgBody {
            width: 100%; }

        .ExternalClass {
            width: 100%; }

        /* Force Outlook Desktop to render line heights as they're originally set. */
        a,
        blockquote,
        li,
        p,
        td {
            mso-line-height-rule: exactly; }

        /* Force mobile devices to inherit declared link styles. */
        a[href^="sms"],
        a[href^="tel"] {
            color: inherit;
            cursor: default;
            text-decoration: none; }

        /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
        a,
        blockquote,
        body,
        li,
        p,
        table,
        td {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%; }

        /* Force Outlook.com to display line heights normally. */
        .ExternalClass,
        .ExternalClass div,
        .ExternalClass font,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass td {
            line-height: 100%; }

        /* Force iOS devices to heed link styles set in CSS. */

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important; }

        a:focus,
        a:hover {
            color: #ef2614 !important;
            text-decoration: underline !important; }

        @media screen {
            h1,
            h2,
            h3,
            h4,
            .header p,
            .button,
            .footer p {
                font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif !important; } }

        @media only screen and (max-width: 639px) {
            html,
            body {
                width: 100% !important; }
            .main {
                max-width: 100% !important;
                min-width: 240px;
                width: auto !important; } }

        @media only screen and (min-width: 680px) {
            html,
            body {
                background-color: #f0f0f0 !important; } }

        .button .inner-wrapper td:hover {
            background-color: #fc2815; }

        .button .inner-wrapper a:active,
        .button .inner-wrapper td:active {
            background-color: #ef2614 !important; }

        .button a:active,
        .button a:hover,
        .button a:visited {
            border: 0;
            color: #fff !important;
            text-decoration: none !important; }

        .email-items .bundle-option-label > td {
            padding: 0 4px 0 8px; }

        .email-items .bundle-option-value > td {
            padding: 0 8px 8px; }
        .email-items .bundle-option-value > td.item-info {
            padding: 0 8px 8px 16px; }

        .email-items tr.bundle-option-value + tr > td.item-extra {
            padding-top: 16px; }

        .email-credentials {
            width: 100%; }
        .email-credentials th {
            text-align: left; }
        .email-credentials tr + tr th,
        .email-credentials tr + tr td {
            padding-bottom: 8px; }

        .email-features {
            width: 100%; }
        .email-features td {
            width: 50%; }
        .email-features td table {
            width: 100%; }
        .email-features td table td {
            padding-right: 8px;
            width: 30px; }
        .email-features td table td h3 {
            margin-bottom: 0;
            margin-top: 5px; }
        .email-features td table td p {
            margin-bottom: 0; }
        .email-features td table td + td {
            padding-right: 16px;
            width: auto; }
        .email-features tr + tr > td {
            padding-top: 8px; }

        @media only screen and (max-width: 479px) {
            .email-features > tbody > tr > td {
                clear: both;
                display: block;
                padding-top: 8px;
                width: auto !important; } }

        @media only screen and (max-width: 639px) {
            .rma-items td,
            .rma-items th {
                font-size: 12px !important;
                padding: 4px !important; } }

        .email-summary h1 {
            margin-bottom: 4px; }

        @media only screen and (max-width: 479px) {
            .email-summary h1 {
                font-size: 20px; } }

        .order-details {
            width: 100%; }
        .order-details tr > .address-details,
        .order-details tr > .method-info {
            padding: 16px 16px 16px 0;
            width: 50%; }
        .order-details tr > .address-details h3,
        .order-details tr > .method-info h3 {
            margin-top: 0; }
        .order-details tr + .method-info > td {
            padding: 0 0 16px; }
        .order-details .payment-method {
            margin-bottom: 8px; }
        .order-details .payment-method .title {
            font-weight: 400; }
        .order-details .payment-method .data.table > caption {
            display: none; }
        .order-details .payment-method .data.table th {
            padding-right: 8px; }

        .address-details a {
            text-decoration: none; }

        @media only screen and (max-width: 479px) {
            .order-details .address-details,
            .order-details .method-info {
                display: block;
                padding: 8px !important;
                width: auto !important; }
            .order-details .address-details h3,
            .order-details .method-info h3 {
                margin-bottom: 4px !important;
                margin-top: 0 !important; } }

        .shipment-track {
            width: 100%; }
        .shipment-track thead > tr > th,
        .shipment-track thead > tr > td,
        .shipment-track tbody > tr > th,
        .shipment-track tbody > tr > td {
            background-color: #f8f8f8;
            padding: 4px 8px;
            width: 50%; }
        .shipment-track thead > tr + tr th,
        .shipment-track thead > tr + tr td,
        .shipment-track tbody > tr + tr th,
        .shipment-track tbody > tr + tr td {
            padding-top: 0; }

        .email-items {
            width: 100%;
            border: 1px solid #d6d7d7; }
        .email-items thead > tr > th,
        .email-items thead > tr > td,
        .email-items tfoot > tr > th,
        .email-items tfoot > tr > td {
            background-color: #f8f8f8; }
        .email-items > thead > tr > th,
        .email-items > tbody > tr > th {
            padding: 4px 8px; }
        .email-items > thead > tr > td,
        .email-items > tbody > tr > td {
            padding: 4px 8px; }
        .email-items > thead > tr > td.message-gift,
        .email-items > tbody > tr > td.message-gift {
            border-top: none;
            padding-top: 0; }
        .email-items > tbody > tr > th,
        .email-items > tbody > tr > td,
        .email-items > tfoot > tr > th,
        .email-items > tfoot > tr > td {
            border-top: 1px solid #d6d7d7; }
        .email-items > tbody > tr + tr > th,
        .email-items > tbody > tr + tr > td,
        .email-items > tfoot > tr + tr > th,
        .email-items > tfoot > tr + tr > td {
            border-top: 0; }
        .email-items p {
            margin-bottom: 0}
        .email-items .product-name {
            font-weight: 400;
            margin-bottom: 8px; }
        .email-items .has-extra .sku {
            margin-bottom: 8px; }
        .email-items .item-info dl {
            margin-bottom: 0;
            padding-left: 8px; }
        .email-items .item-info dl dt,
        .email-items .item-info dl dd {
            margin-bottom: 0;
            padding-bottom: 0; }
        .email-items .item-info dl dd {
            padding-left: 8px; }
        .email-items .item-qty {
            text-align: center; }
        .email-items .item-price {
            text-align: right; }
        .email-items .item-extra {
            padding-top: 0; }
        .email-items .item-info-left {
            text-align: left; }
        .email-items .item-info-right {
            text-align: right; }
        .email-items .order-totals > tr > th {
            font-weight: 400; }
        .email-items .order-totals > tr > th,
        .email-items .order-totals > tr > td {
            padding: 4px 8px;
            text-align: right; }
        .email-items .order-totals > tr + tr th,
        .email-items .order-totals > tr + tr td {
            padding-top: 0; }
        .email-items .order-totals .price {
            white-space: nowrap; }
    </style>
</head>



<body style="background-color: #fff; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; font-size: 16px; font-weight: normal; height: 100%; margin: 0; padding: 0; text-align: left; width: 100%;">
<center>
    <!-- Begin wrapper table -->
    <table class="wrapper" width="100%" style="border-collapse: collapse; height: 100%; margin: 0 auto; padding: 0; width: 100%;">
        <tr>
            <td class="wrapper-inner" align="center" style="font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding-bottom: 16px; width: 100%;">
                <table class="main" align="center" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 660px;">
                    <tr>
                        <td class="header" style="font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding: 16px;">
                            <a class="logo" href="http://www.marello.com" style="color: #3d3d3d; text-decoration: underline; word-wrap: break-word;">
                                <img width="128" height="53" src="{{ system.appURL ~ '/bundles/marellocore/img/marello-logo.png' }}" alt="marello.com" border="0" style="border: 0; height: auto; outline: none; text-decoration: none;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="main-content" style="background-color: #fff; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding: 16px;">
                            <!-- Begin Content -->

                            <table style="border-collapse: collapse; width: 100%;">
                                <tr class="email-intro">
                                    <td style="font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif;">

                                        <p class="greeting" style="font-size: 16px; margin: 1em 0;">Purchase Order Advise Notification</p>
                                    </td>
                                </tr>
                                <tr class="email-summary">
                                    <td style="font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif;"><p style="font-size: 16px; margin: 1em 0;">The following product(s) have a low stock. It's recommended considering to purchase new inventory.</p>
                                    </td>
                                </tr>
                                <tr class="email-information">
                                    <td style="font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif;">
                                        <table class="email-items" style="border: 1px solid #d6d7d7; border-collapse: collapse; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th class="item-info item-info-left" style="background-color: #f8f8f8; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; font-weight: 400; padding: 10px 8px; font-size:13px;">
                                                    SUPPLIER
                                                </th>
                                                <th class="item-info item-info-left" style="background-color: #f8f8f8; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; font-weight: 400; padding: 10px 8px; font-size:13px;">
                                                    SKU
                                                </th>
                                                <th class="item-info item-info-left" style="background-color: #f8f8f8; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; font-weight: 400; padding: 10px 8px; font-size:13px;">
                                                    ORDER AMOUNT
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--{% for item in items %}-->
                                            <tr>
                                                <td class="item-info" style="border-top: 1px solid #d6d7d7; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding: 10px 8px; font-size:13px; font-weight: 300;">
                                                    {{ item['supplier'] }}
                                                </td>
                                                <td class="item-info" style="border-top: 1px solid #d6d7d7; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding: 10px 8px; font-size:13px; font-weight: 300;">
                                                    {{ item['sku'] }}
                                                </td>
                                                <td class="item-info" style="border-top: 1px solid #d6d7d7; font-family: Roboto Condensed, Arial Narrow, Arial, sans-serif; padding: 10px 8px; font-size:13px; font-weight: 300;">
                                                    {{ item['orderAmount'] }}
                                                </td>
                                            </tr>
                                            <!--{% endfor %}-->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Content -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- End wrapper table -->
</center>
</body>
</html>