{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% if item and item is defined %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ dataGrid.renderGrid('marello-inventory-log', {'inventoryItemId': item.id}) }}
        </div>
    </div>
</div>
{% endif %}
