{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderHtmlProperty('marello.inventory.inventoryitem.quantity.label'|trans, '<strong>' ~ item.quantity ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.inventory.inventoryitem.allocated_quantity.label'|trans, '<strong>' ~ item.allocatedQuantity ~ '</strong>') }}
            {{ UI.renderHtmlProperty('marello.inventory.inventoryitem.virtual_quantity.label'|trans, '<strong>' ~ item.virtualQuantity ~ '</strong>') }}
        </div>
    </div>
    <div class="row-divider"></div>
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ dataGrid.renderGrid('marello-inventory-log', {'productId': item.product.id}) }}
        </div>
    </div>
</div>
