{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('marello.inventory.inventoryitem.quantity.label'|trans, '<strong>' ~ item.quantity ~ '</strong>') }}
            </div>
        </div>
    </div>
</div>
