@name = marello_return_inspection_not_ok
@entityName = Marello\Bundle\ReturnBundle\Entity\ReturnEntity
@subject = An issue has been found during an inspection of you return #{{ entity.returnNumber }}
@isSystem = 0
@isEditable = 1

<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td class="email-heading">
                                <h1 style="font-size: 16px; color: #0066cc;">An issue has been found during an inspection of you return #{{ entity.returnNumber }}.</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
