<div class="widget-content grid-widget-content">
    {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
    {% set gridName = 'marello-businesshours-grid' %}

    {% set params = {
        'servicePointFacility': entity ? entity.id : null,
    } %}

    <style type="text/css">
        .grid-widget-content .grid,
        .grid-widget-content .table {
            margin-bottom: 0;
        }
    </style>

    {% block content %}
        {{ dataGrid.renderGrid(gridName, params) }}
    {% endblock %}

</div>
