{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'marelloenterprise-inventory-wfa-rules-grid' %}
{% set pageTitle = 'marelloenterprise.inventory.wfarule.entity_short_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('marelloenterprise_inventory_wfa_rule_create') %}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('marelloenterprise_inventory_wfa_rule_create'),
                'entity_label': 'marelloenterprise.inventory.wfarule.entity_short_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
