.marello-items-table-container {
    max-width: 100%;
}

.marello-items-table-container table {
    width: 100%;
}

.desktop-version .marello-items-table-container .marello-item-collection input {
    width: auto;
    height: auto;
    min-width: 100%;
    box-sizing: border-box;
}

.marello-line-items table.grid {
    overflow: auto;
}

.marello-line-items table.grid td {
    padding: 7px 10px;
}

.marello-line-items tr.marello-line-item .marello-line-item-notifications span.error {
    font-size:29px;
    color: #c81717;
}

.marello-add-line-item {
    margin-top: 10px;
}

.marello-remove-line-item {
    text-align: right !important;
}

.marello-line-item-wide {
    width: 315px;
}

.marello-line-item-narrow {
    width: 243px;
}

.marello-line-item-narrow input[type="text"] {
    width:80px;
    text-align:right;
    padding-left: 17px;
    float: left;
}