{% block header %}
<div class="header">
    <div class="company-logo">
        {% if logo is defined and logo is not null %}
            <img src="{{ logo }}" {% if logo_width is not null %} width="{{ logo_width }}"{% endif %}>
        {% endif %}
    </div>
</div>
{% endblock header %}

{% block footer %}
<div class="footer clearfix">
    <p class="page-number">{{ 'marello.pdf.page_number.label'|trans({'%pageNumber%': '{PAGENO}', '%totalPages%': '{nbpg}'}, 'pdf') }}</p>
</div>
{% endblock footer %}
