.order-line-items {
    table.grid {
        overflow: auto;

        td {
            padding: 7px 10px;
        }
    }

    td.order-line-item-notifications span.error {
        font-size:29px;
        color: #c81717;
    }
}

.order-line-items .add-line-item {
    margin-top: 10px;
}

.order-line-item-product {
    width: 315px;
}

.order-line-item-quantity {
    width: 243px;

    input[type="text"] {
        width:80px;
        text-align:right;
        float: left;
    }
}

.order-line-item-price {
    width: 243px;

    input[type="text"] {
        width:80px;
        text-align:right;
        padding-left: 17px;
        float: left;
    }
}

.order-line-item-tax {
    width: 243px;

    input[type="text"] {
        width:80px;
        text-align:right;
        padding-left: 17px;
        float: left;
    }
}

.order-line-item-total-price {
    width: 243px;

    input[type="text"] {
        width:80px;
        text-align:right;
        padding-left: 17px;
        float: left;
    }
}

.order-line-item-remove {
    padding-top: 7px !important;
    text-align: right !important;
}