{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'marello-shipping-methods-configs-rule-grid' %}
{% set pageTitle = 'marello.shipping.shippingmethodsconfigsrule.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('marello_shipping_methods_configs_rule_create') %}
        <div class="btn-group pull-right">
            {{ UI.addButton({
                'path': path('marello_shipping_methods_configs_rule_create'),
                'entity_label': 'marello.shipping.shippingmethodsconfigsrule.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
