{% macro renderPaymentMethodsConfigs(methodConfigs, currency) %}
    {%- apply spaceless -%}
        <ol>
            {%- for methodConfig in methodConfigs -%}
                <li>
                {%- set paymentMethodData = {
                    'identifier': methodConfig.method,
                    'options': methodConfig.options,
                } -%}
                {%- include marello_payment_method_config_template(methodConfig.method) with {
                    'currency': currency,
                    'methodData': paymentMethodData
                } -%}
                </li>
            {%- endfor -%}
        </ol>
    {%- endapply -%}
{% endmacro %}

{% macro renderPaymentMethodDisabledFlag(identifier) %}
    {% if marello_payment_method_enabled(identifier) == false %}
        <span class="label">Disabled</span>
    {% endif %}
{% endmacro %}