<div data-page-component-module="marellotask/js/app/components/assign-to-selection-component">
    {{ form_row(form.type) }}
    <div class="assigned-to-container hide">
        {{ form_row(form.assignedToUser) }}
        {{ form_row(form.assignedToGroup) }}
    </div>
</div>
