.marello_inventory-warehouse-inventory-widget {
    .selector, input {
        display: inline-block;
        vertical-align: top;
    }

    .selector {
        width: auto;
    }

    input {
      width: 70px;
    }
}

.marello_inventory-warehouse-inventory-widget.has-errors {
    input, .selector {
        border: 1px solid #e9322d;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(211,33,33,0.6);
    }

    span.validation-failed {
        display: inline;
    }
}

.marello_inventory-product-inventory-table {
    td {
        line-height: 30px;
    }
}
