.marello_inventory-warehouse-inventory-widget {
    .selector, input {
        display: inline-block;
        vertical-align: top;
    }

    .selector {
        width: auto;
    }

    input {
      width: 70px;
    }
}

.marello_inventory-product-inventory-table {
    td {
        line-height: 30px;
    }
}
