{% extends "base.html.twig" %}

{% block content %}
<div class="container-fluid">
    <h1>{{ 'Welcome to OroPlatform!'|trans }}</h1>
    We can't wait to see what you will create with our platform...
</div>
{% endblock content %}
