.marello-notification-alert-type {
    border-radius: 12px;
    display: inline-flex;
    line-height: 1.0;
    padding: 4px 12px;

    &.alert-type-error {
        background-color: #ffc0b3;
        color: #570e00;
    }
    &.alert-type-warning {
        background-color: #fef1cc;
        color: #815f00;
    }
    &.alert-type-success {
        background-color: #dafbb9;
        color: #465f2d;
    }
    &.alert-type-info {
        background-color: #e8f5f9;
        color: #20687a;
    }
}

.marello-notification-alert-activity-body {
    padding: 5px 10px;
}
