{% block marello_sales_saleschannel_select_widget %}
    <div class="marello-sales-channel-select-container" data-page-component-module="marellosales/js/app/components/sales-channel-select-component">
        {{ form_widget(form) }}
    </div>
{% endblock %}
