<div class="actions clearfix">
    <table class="grid table-hover table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="purchase-order-line-item-product">
                <span style="display: inline-block; width: 44%">Product</span>
                <span style="display: inline-block">Order Amount</span>
            </th>
        </tr>
        </thead>
        <tbody class="entities">
        </tbody>
    </table>

    <div class="pull-left">
        <button type="button"
                class="btn btn-medium add-btn"
                data-purpose="open-dialog-widget">
            <i class="fa-plus"></i>
            <%= _.__('marello.purchaseorder.form.add_products_from_advice') %>
        </button>
    </div>
</div>
