<div class="actions clearfix">
    <table class="grid table-hover table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="purchase-order-line-item-product"><span>Product</span><span>Order Amount</span></th>
            <!--<th class="purchase-order-line-item-ordered-quantity"><span>Order Amount</span></th>-->
            <!--<th class="purchase-order-row-item-actions"></th>-->
        </tr>
        </thead>
        <tbody class="entities">
        </tbody>
    </table>

    <div class="pull-left">
        <button type="button"
                class="btn btn-medium add-btn"
                data-purpose="open-dialog-widget">
            <i class="fa-plus"></i>
            <%= _.__('marello.purchaseorder.form.add_products') %>
        </button>
    </div>
</div>
