Marello\Bundle\SupplierBundle\Entity\Supplier:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [name, organization]
            message: 'marello.supplier.supplier.messages.error.unique_name'
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: email
            message: 'marello.supplier.supplier.messages.error.unique_email'
    properties:
        name:
            - NotBlank: ~
        code:
            - NotBlank: ~
            - Marello\Bundle\CoreBundle\Validator\Constraints\CodeRegex: ~
        currency:
            - NotBlank: ~
