{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'marelloenterprise-inventory-warehouses-grid' %}
{% set pageTitle = 'marello.inventory.warehouse.entity_plural_label'|trans %}

{% block navButtons %}
    {% if is_granted('marelloenterprise_inventory_warehouse_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('marelloenterprise_inventory_warehouse_create'),
                'entity_label': 'marello.inventory.warehouse.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
