.pricing-line-items {
    .marello-item-collection {
        display: none;
    }
}

.pricing-line-items.pricing-enabled {
    .marello-item-collection {
        display: block;
    }
}

.marello-line-item .pricing-line-item-special-date {
    .fields-row {
        .datepicker-input, .timepicker-input {
            width: 100px;
        }
        .control-label {
            width: 25px;
        }
    }
}