parameters:
    database_driver:         pdo_mysql
    database_host:           127.0.0.1
    database_port:           ~
    database_name:           marello_application
    database_user:           root
    database_password:       ~
    database_server_version: ~
    database_driver_options: []

    mailer_dsn:              'native://default'

    # WebSocket server config
    websocket_bind_address:                "0.0.0.0"  # The host IP the socket server will bind to
    websocket_bind_port:                   8080       # The port the socket server will listen on
    websocket_frontend_host:               "*"        # Websocket host the browser will connect to
    websocket_frontend_port:               8080       # Websocket port the browser will connect to
    websocket_frontend_path:               ""         # Websocket url path the browser will connect to (for example "/websocket" or "/ws")
    websocket_backend_host:                "*"        # Websocket host the application server will connect to
    websocket_backend_port:                8080       # Websocket port the application server will connect to
    websocket_backend_path:                ""         # Websocket url path the application server will connect to (for example "/websocket" or "/ws")
    websocket_backend_transport:           tcp        # Socket transport (for example "tcp", "ssl" or "tls")
    websocket_backend_ssl_context_options: {}         # Socket context options, usually needed when using secure transport

    # search engine configuration
    search_engine_name:       orm
    search_engine_host:       127.0.0.1
    search_engine_port:       ~
    search_engine_index_prefix: oro_search
    search_engine_username:   ~
    search_engine_password:   ~
    search_engine_ssl_verification: ~
    search_engine_ssl_cert: ~
    search_engine_ssl_cert_password: ~
    search_engine_ssl_key: ~
    search_engine_ssl_key_password: ~


    search_engine_dsn:          'orm:'

    # Used to hide backend under specified prefix, should be started with "/", for instance "/admin"
    # You can use this default value when only backend is present
    web_backend_prefix:         ''

    session_handler:    session.handler.native_file

    installed: ~
    secret:                 'ThisTokenIsNotSoSecretChangeIt'
    message_queue_transport: 'dbal'
    message_queue_transport_config: ~
    enable_price_sharding: false

    deployment_type: ~

    # Post processors binary
    liip_imagine.jpegoptim.binary: null
    liip_imagine.pngquant.binary: null
