<div class="actions clearfix">
    <table class="grid table-hover table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="replenishment-order-product-image" style="border-right: 0;">
                <span><%= _.__('marello.product.image.label') %></span>
            </th>
            <th class="replenishment-order-product-name" style="border-right: 0;">
                <span><%= _.__('marello.product.name.label') %></span>
            </th>
            <th class="replenishment-order-product-sku" style="border-left: 0; border-right: 0;">
                <span><%= _.__('marello.product.sku.label') %></span>
            </th>
            <th class="replenishment-order-product-manufacturing-code" style="border-left: 0; border-right: 0;">
                <span><%= _.__('marello.product.manufacturing_code.label') %></span>
            </th>
            <th class="replenishment-order-product-status" style="border-left: 0; border-right: 0;">
                <span><%= _.__('marello.product.status.label') %></span>
            </th>
            <th class="replenishment-order-product-categories" style="border-left: 0; border-right: 0;">
                <span><%= _.__('marello.product.categories.label') %></span>
            </th>
            <th class="replenishment-order-product-notifications" style="border-left: 0; border-right: 0;"></th>
            <th class="replenishment-order-product-actions" style="border-left: 0;"></th>
        </tr>
        </thead>
        <tbody class="entities">
        </tbody>
    </table>

    <div class="pull-left">
        <button type="button"
                class="marello-add-line-item btn btn-medium add-btn"
                data-purpose="open-dialog-widget">
            <i class="fa-plus"></i>
            <%= _.__('marelloenterprise.replenishment.replenishmentorderconfig.form.products.add.label') %>
        </button>
    </div>
</div>
