<td class="replenishment-order-product-image" style="border-right: 0;">
    <%= image %>
</td>
<td class="replenishment-order-product-name" style="border-right: 0;">
    <%= productName %>
</td>
<td class="replenishment-order-product-sku" style="border-left: 0; border-right: 0;">
    <%= sku %>
</td>
<td class="replenishment-order-product-manufacturing-code" style="border-left: 0; border-right: 0;">
    <%= manufacturingCode %>
</td>
<td class="replenishment-order-product-status" style="border-left: 0; border-right: 0;">
    <%= status %>
</td>
<td class="replenishment-order-product-categories" style="border-left: 0; border-right: 0;">
    <%= categories %>
</td>
<td class="replenishment-order-product-notifications" style="border-left: 0; border-right: 0;">
                    <span class="error" style="display:none;">
                        <i class="fa-exclamation-triangle"></i>
                    </span>
</td>
<td class="replenishment-order-product-remove marello-line-item-remove" style="border-left: 0;">
    <button type="button"
            class="marello-remove-line-item btn icons-holder remove-btn"
            title="<%= _.__('Remove') %>">
        <i class="fa-remove"></i></button>
</td>
