{% set apiKey = oro_config_value('oro_google_integration.google_api_key') %}
{% if apiKey is not empty%}
    <div class="map-visual-frame"
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'oroaddress/js/mapservice/googlemaps',
             apiKey: apiKey,
             address: {
                 address: address.postalCode ~ ' ' ~ address.country ~ ' ' ~ address.region ~ ' ' ~ address.city ~ ' ' ~ address.street ~ ' ' ~ address.street2,
                 label: address.fullName
             }
         }|json_encode }}">
    </div>
{% endif %}