.marello-product-image {
    height: 250px;
    width: 250px;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 250px;
        max-width: 250px;
    }
}

div.product-image {
    height: 35px;
    width: 35px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 35px;
        max-width: 35px;
    }
}
.attibute-group-collection {
    .oro-item-collection {
        .row-oro {
            position: relative;
            padding: 25px 34px;
            margin-bottom: 8px;
            background: #f8f8f8;
            border-radius: 4px;
        }

        .removeRow {
            position: absolute;
            top: 4px;
            right: 4px;
            text-decoration: none;
        }
    }
}
