.login-page #page {
    top: 35%;
}

.form-signin {
    max-width: 403px;

    .button-login {
        border: 0;
        background: 0;
        margin: 0 0 10px;
        vertical-align: top;
        overflow: hidden;
        display: block;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 0;
        height: 47px;
    }

    .button-login > span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        font-size: 14px;
        height: 47px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: #f9f9f9;
        background-image: -moz-linear-gradient(top,#ffffff,#f0f0f0);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f0f0f0));
        background-image: -webkit-linear-gradient(top,#ffffff,#f0f0f0);
        background-image: -o-linear-gradient(top,#ffffff,#f0f0f0);
        background-image: linear-gradient(to bottom,#ffffff,#f0f0f0);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
        margin: 0 0 10px;
    }

    .button-login > span span {
        text-align: center;
        display: block;
        height: 47px;
        line-height: 47px;
    }

    .button-login:focus > span, .button-login:hover > span {
        background-color: #ffffff;
        background-repeat: repeat-x;
        background-image: linear-gradient(to bottom,#ffffff,#ffffff);
    }

    .form-description {
        margin-bottom: 0;
        
        .login-message__text {
            margin-bottom: 20px;
            text-align: center;
        }
        .notice {
            background: #fff9e9;
            color: #91692b;
            padding: 10px;
        }
    }
}
.form-signin > fieldset {
    padding: 30px 15px;
}
.container__header {
    text-align: center;

    .login-logo {
        display: inline-block;
        width: 420px;
        height: 70px;
        margin-bottom: 15px;
        background: url('../images/marello-logo-enterprise.png') no-repeat;
        text-indent: -9999px;
    }
}
