{% block marello_customer_company_select_widget %}
    <div class="marello-customer-company-select-container" data-page-component-module="marellocustomer/js/app/components/customer-company-select-component">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block oro_entity_create_or_select_inline_js_autocomplete_company_customer %}
    {{ block('oro_entity_create_or_select_inline_js_company_customer') }}
{% endblock %}

{% block oro_entity_create_or_select_inline_js_grid_company_customer %}
    {{ block('oro_entity_create_or_select_inline_js_company_customer') }}
{% endblock %}

{% block oro_entity_create_or_select_inline_js_company_customer %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% if form.vars.configs.async_dialogs|default(false) is same as(true) %}
        {% set asyncNameSegment = 'async-' %}
    {% endif %}
    {% set urlParts = {
    grid: {
    route: 'oro_datagrid_widget',
    parameters: {
    gridName     : form.vars.grid_name,
    params       : form.vars.grid_parameters,
    renderParams : form.vars.grid_render_parameters
    }
    }
    } %}

    {% if form.vars.create_enabled|default(false) is same as(true) %}
        {% set urlParts = urlParts|merge({
        create: {
        route:      form.vars.create_form_route,
        parameters: form.vars.create_form_route_parameters
        }
        }) %}
    {% endif %}
    <div {{ UI.renderPageComponentAttributes({
        module: 'marellocustomer/js/app/components/select-create-company-customer-inline-type-' ~ asyncNameSegment|default('') ~ 'component',
        options: {
            _sourceElement: '#'~id~'-el',
            inputSelector: '#'~id,
            entityLabel: label|trans,
            urlParts: urlParts,
            existingEntityGridId: form.vars.existing_entity_grid_id|default('id'),
            createEnabled: form.vars.create_enabled|default(false),
        }
    }) }} style="display: none"></div>
{% endblock %}
