{% block marello_customer_company_select_widget %}
    <div class="marello-customer-company-select-container" data-page-component-module="marellocustomer/js/app/components/customer-company-select-component">
        {{ form_widget(form) }}
    </div>
{% endblock %}