.marello-item-collection {
    .marello-line-item {
        .fields-row-narrow {
            width: 80px;

            span {
                width: 80px;
            }

            input {
                width: 80px;
            }
        }
    }
}

.scrollable-container {
    [data-ftid="marello_inventory_reshipment"] {
        .attribute-item__term {
            color: #545456;
        }
    }
}

.inventorylevel-warehouse {
    .select2-container {
        width: 300px;

        .select2-choice {
            .select2-arrow {
                right: 8px;
            }
        }

        select {
            width: 190px;
        }
    }
}

.inventorylevel-adjustment, .inventorybatch-adjustment {
    .selector {
        width: 100px !important;

        span {
            width: 98px !important;
        }

        select {
            width: 100px;
        }
    }

    input {
        width: 80px;
    }
}

.inventorybatch-delivery-date, .inventorybatch-purchase-price, .inventorybatch-sell-by-date {
    input[type=text] {
        width: 100px !important;
    }
}

// Font Awesome
.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-right:before {
  content: "\f0da";
}

.reshipment-reason-attribute {
    margin-left: 18px;
    margin-top: -10px;

    .reshipment-reason-attribute-field {
        margin-left: -10px;
    }
}
