/* @theme: admin.oro; */

/* stylelint-disable no-descending-specificity, selector-max-compound-selectors */

.sidebar-widget.sidebar-widget-assigned-tasks {
    .task-description {
        color: $primary-550;
        font-size: 10px;

        p {
            margin-bottom: 0rem;
        }
    }
}
