{% extends '@OroDashboard/Dashboard/widget.html.twig' %}

{% set widgetType = 'quick-launchpad' %}

{% block content %}
    {% if items|length %}
        {% apply spaceless %}
            <ul class="quick-launchpad-toolbar quick-launchpad-toolbar--with-{{ items|length }}-items">
            {% for itemName, item in items %}
                <li class="quick-launchpad-toolbar__item{% if (item.class is defined) %} {{ item.class }}{% endif %}">
                    {% include widgetDataItems[itemName].template with {item: item}%}
                </li>
            {% endfor %}
            </ul>
        {% endapply %}
    {% else %}
        <div class="container-fluid">
            <div class="clearfix no-data">
                <span>{{ 'marello.order.dashboard.order_statistics.no_available_metrics'|trans }}</span>
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
