@name = marello_order_accepted_confirmation
@entityName = Marello\Bundle\OrderBundle\Entity\Order
@subject = Thank you for your order no. {{ entity.orderNumber }}
@isSystem = 1
@isEditable = 1

<h1>{{ entity.orderNumber }}</h1>
<div>
    <p>
        {# TODO: Come up with reasonable tempalte. #}
    </p>
</div>
