@name = marello_order_cancelled
@entityName = Marello\Bundle\OrderBundle\Entity\Order
@subject = Your order no. {{ entity.orderNumber }} has been cancelled
@isSystem = 1
@isEditable = 1

<h1>{{ entity.orderNumber }}</h1>
<div>
    <p>
        {# TODO: Come up with reasonable tempalte. #}
    </p>
</div>
