{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ dataGrid.renderGrid('marello-customer-subscriptions-grid', {'customerId': customer.id}) }}
        </div>
    </div>
</div>