<div class="marello-line-item-related-field">
    <a href="{{ path('marello_inventory_inventorylevel_manage_batches', {'id': record.getValue('id')}) }}">
        {{ 'marello.inventory.inventorylevel.form.manage_batches.label'|trans }}
    </a>
</div>
