<div class="marello-line-item-related-field">
    <a href="{{ path('marello_inventory_inventorylevel_batches_view', {'id': record.getValue('id')}) }}">
        {{ 'marello.inventory.inventorylevel.grid.view_batches.label'|trans }}
    </a>
</div>
