.app-logo {
    background: url(/bundles/marellolayout/images/marello.svg) no-repeat center center !important;
    background-size: contain !important;
}

.marello-line-items {
    table.grid {
        overflow: auto;

        td {
            padding: 7px 10px;
        }
    }

    tr.marello-line-item .marello-line-item-notifications span.error {
        font-size:29px;
        color: #c81717;
    }

    .marello-line-item-wide {
        width: 315px;
    }

    .marello-line-item-narrow {
        width: 243px;
    }

    .marello-line-item-narrow input[type="text"] {
        width:80px;
        text-align:right;
        padding-left: 17px;
        float: left;
    }
}

.marello-line-field {
    line-height: 2.3;

    input {
        margin-right: 0.3rem;
    }
}

.marello-line-item-related-field {
    margin: 0 0 0 5px;
    float:left;
}

.marello-item-collection {
    tr.display-values td {
        line-height: 30px;
    }
}

.marello-line-item-remove {
    text-align: right !important;

    .btn .fa-remove {
        margin:0;
    }
}

.marello-add-line-item {
    margin: 10px 0;
}

.add-line-item-btn-group {
    .btn {
        margin-right: 8px;
    }
}

.row-divider {
    min-height: 2.5em;
}

.narrow-divider {
    min-height: 1em;
}

.form-horizontal .control-group {
    margin-bottom:16px;

    .controls [data-name*="field__region-text"] {
        margin-top:16px;
    }
}