{% set productImage = asset('bundles/marelloproduct/img/no_image_available.jpg') %}
{% set imageId = record.getValue('image') %}
{% if imageId is not null %}
    {% set image = get_file_by_id(imageId) %}
    {% set productImage = filtered_image_url(image, 'product_grid') %}
{% endif %}
<div class="product-image">
    <img src="{{ productImage }}" alt="{{ record.getValue('name') }}" />
</div>