@name = pdf_marello_return_not_received
@entityName = Marello\Bundle\ReturnBundle\Entity\ReturnEntity
@isSystem = 0
@isEditable = 1

<b>RETURN RECEIVED PDF</b>

<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="email-heading">
                        <h1 style="font-size: 16px; color: #0066cc;">Your return #{{ entity.returnNumber }} has not yet been received.</h1>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>