.order-items-table-container {
    max-width: 100%;
}

.order-items-table-container table {
    width: 100%;
}

.desktop-version .order-items-table-container .marello-item-collection input {
    width: auto;
    height: auto;
    min-width: 100%;
    box-sizing: border-box;
}

.order-line-items table.grid {
    overflow: auto;
}

.order-line-items table.grid td {
    padding: 7px 10px;
}

.order-line-items .add-line-item {
    margin-top: 10px;
}

.order-line-item-product {
    width: 315px;
}

.order-line-item-quantity input[type="text"],
.order-line-item-price input[type="text"],
.order-line-item-tax input[type="text"],
.order-line-item-total-price input[type="text"] {
    width:80px;
    text-align:right;
}

.order-line-item-quantity,
.order-line-item-price,
.order-line-item-tax,
.order-line-item-total-price {
    width: 243px;
}

.order-line-item-price input[type="text"],
.order-line-item-tax input[type="text"],
.order-line-item-total-price input[type="text"] {
    padding-left: 17px;
}

.order-line-item-quantity input[type="number"],
.order-line-item-price input[type="text"],
.order-line-item-tax input[type="text"],
.order-line-item-total-price input[type="text"]{
    float: left;
}

.order-line-item-remove {
    padding-top: 7px !important;
    text-align: right !important;
}