{#{% extends bap.layout %}#}
{#{% import 'OroUIBundle::macros.html.twig' as UI %}#}

{#{{ UI.cancelButton(path('oro_integration_index')) }}#}


{#{% block magento_redirect %}#}
    {#<p>#}
        {#<a href={{ authorize_url }} target="_blank" class="btn btn-large btn-primary">Click here</a>#}
    {#</p>#}

    {#<script>#}
        {#setTimeout(function(){window.location.href="{{ authorize_url }}"},5000);#}
    {#</script>#}
{#{% endblock %}#}
